--- a/debian/rules	2025-07-08 21:05:41.000000000 +0000
+++ b/debian/rules	2025-08-05 12:47:36.434357858 +0000
@@ -24,7 +24,7 @@
 	dh $@
 
 override_dh_auto_configure:
-	dh_auto_configure -- --disable-bundled-libtom --disable-lastlog \
+	dh_auto_configure -- --enable-static --disable-lastlog \
 	  CC='$(CC)' CFLAGS='$(CFLAGS)' $(CONFFLAGS)
 
 execute_before_dh_auto_build:
